.row{
    margin: 0;
    float: left;
    box-sizing: border-box;
}
form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body{
    background-image:url(https://media.gettyimages.com/photos/nkrumah-mausoleum-accra-ghana-picture-id103455996?s=2048x2048); 
    background-size:cover;
}
h1{
    align-content:center;
    margin:0;
}
.container{
    margin-top:8px;
    padding:0;
    width:600px;
    height:200px;
    text-align:center;	
}
.first li{
   list-style-type: none;
   
}
